header {
    background-image: linear-gradient(
       120deg,
        rgb(112, 112, 112),
        rgb(33, 33, 33)
    );
    text-align: left;
    padding-top: 1px;
    padding-left: 150px;
    margin-top: 0;
    margin-left: 0;
    background-color: rgb(111, 111, 111);
    height: 200px;
    box-sizing: border-box;


}



body {
    margin: 0;
    font-family: sans-serif;
}

h3 {
    letter-spacing: 3px;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px;
    left: 155px;
}

h1 {
    font-size: 90px;
    color: white;


}


p {
    vertical-align: middle;
    line-height: 90%;
    letter-spacing: 2px;
    position: relative;
    top: -200px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: -325px;
}

#bike-name {
    z-index: auto;
    
    text-align: center;
    text-transform: uppercase;
    width: 400px;

    color: rgba(0, 0, 0, 0.396);
    font-weight: bolder;
    font-size: 23px;
    font-style: bold;
    background-color: rgba(255, 255, 255, 0.54);
    position: relative;
    top: -70px;
    padding: 3px 0 3px 0;

}



img:hover {
    opacity: 25%;
}

select#search {
    letter-spacing: 3px;
    font-size: 20px;
    height: 35px;
    padding-left: 20px;
    font-weight: bold;
    color: white;
    width: 150px;
    border-color:none;
    border-radius: 25px;
    position: absolute;
    top: 80px;
    left: 82%;
    border-color: aliceblue;
    padding-left: 25px;
    background-color: rgb(246, 117, 77);
    box-shadow: 5px 5px 25px rgb(49, 49, 49);

}





img {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 25px rgb(203, 197, 197);
    overflow: hidden;
    align-items: center;

}


.card {
    height: 300px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px rgb(203, 197, 197);
    align-items: center;
}
.gallery {
    padding-top: 90px;
    gap: 25px;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 90%;
}
